* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Open Sans;
    max-width: 1440px;
    margin: auto;
}

:root {
     --VeryDarkBlue: hsl(243, 87%, 12%);
     --DesaturatedBlue: hsl(238, 22%, 44%);
     --BrightBlue: hsl(224, 93%, 58%);
     --ModerateCyan: hsl(170, 45%, 43%;);
     --LightGrayishBlue: hsl(240, 75%, 98%);
     --LightGray: hsl(0, 0%, 75%);
     --Fontsize: 16px;
     --Family: [Raleway](https://fonts.google.com/specimen/Raleway);
     --Weights: 400, 700;
     --Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans);
      --Weights: 400;
}

/* .features {
    padding-left: 1250px;
    position: relative; top: -10px;
}
.team {
    padding-left: 1350px;
    position: relative; top: -28px;
}
.signin {
    padding-left: 1435px;
    position: relative; top: -46px;
}
.svg{
    position: relative;
    top: 40px;
    left: 40px;
} */
footer{
    background-color: var(--VeryDarkBlue);
    color: var(--LightGrayishBlue);
    font-family: var(--Family);
    display: grid;
    grid-template-columns: 1.4fr 1fr 0.8fr 1.4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "svgfooter svgfooter svgfooter svgfooter"
    "phone about contact logosredes";
}
.logosredes{
    display: grid;
    grid-area: logosredes;
    display: flex;
            height: 50px;
            gap: 16px;
            padding-top: 18px;
}
.svgfooter {
    display: grid;
    grid-area: svgfooter;
    position: relative; top: 70px;left: 90px;
    filter: invert(96%) sepia(0%) saturate(10%) hue-rotate(76deg) brightness(1000%) contrast(95%); 
}
.phone {
    display: grid;
    grid-area: phone;
    padding-top: 0px;
    padding-left: 90px;
}
.about {
    display: grid;
    grid-area: about;
    padding-top: 18px;
    padding-left: 70px;
    gap: px;
}
.contact {
    display: grid;
    grid-area: contact;
    padding-top: 18px;
    padding-left: 35px;
}
.etiquetaabout:hover{
    color: var(--DesaturatedBlue);
}
.etiquetajobs:hover{
    color: var(--DesaturatedBlue);
}
.etiquetapress:hover{
    color: var(--DesaturatedBlue);
}
.etiquetablog:hover{
    color: var(--DesaturatedBlue);
}
.etiquetaphone:hover {
    color: var(--DesaturatedBlue);
}
.etiquetaexample:hover{
    color: var(--DesaturatedBlue);
}
.contactus:hover{
    color: var(--DesaturatedBlue);
}
.terms:hover{
    color: var(--DesaturatedBlue);
}
.privacy:hover{
    color: var(--DesaturatedBlue);
}
.facebook{
    width: 40px;
    border-width: 50px;
    border-radius: 50%;
    filter: invert(96%) sepia(15%) saturate(106%) hue-rotate(76deg) brightness(96%) contrast(95%); 
    
}
.instagram{
    width: 40px;
    border-radius: 50%;
    filter: invert(96%) sepia(15%) saturate(106%) hue-rotate(76deg) brightness(96%) contrast(95%);

}
.twitter {
    width: 40px;
    border-radius: 50%;
    filter: invert(96%) sepia(15%) saturate(106%) hue-rotate(76deg) brightness(96%) contrast(95%);

}
.twitter:hover{
    background-color: var(--DesaturatedBlue);
}
.facebook:hover {
    background-color: var(--DesaturatedBlue);
}
.instagram:hover {
    background-color: var(--DesaturatedBlue);
}

.section1, .section2 {
    display: flex;
    margin: 4rem 0;
    column-gap: 20px;
}

.section1 > div, .section2 > div{
    width: 50%;
}
.section1 p {
    font-weight: 500;    
}

.section1 img {
    width: 80%;  
    height: auto;  
}

.image img {
    width: 80%;  
    height: auto; 
}

.section1 h1 {
    font-size: clamp(2rem, 1.7308rem + 1.0769vw, 2.7rem);
    font-family: Raleway;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1.5rem
    /* margin-bottom: clamp(1.2rem, 0.9718rem + 2.2535vw, 2rem); */
}
.conten_form1 {
    display: flex;
    column-gap: 1.5rem;
}
.conten_form2 {
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
}
.section3 input {
    max-width: 450px;
}
#invalido {
    color: var(--LightGrayishBlue);
}
.section3 h2 {
    font-family: Raleway;
    font-weight: 650;
    margin-bottom: 1.5rem
}
.conten_form1 div:first-child {
    width: 55%;
}

button {
    min-width: 250px;
}

.btn:hover{
    background-color: rgb(75, 190, 208);
}





.section2 p {
    margin-right: 25%;
}

.subtitulo2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: Raleway;
    font-weight: 700;
}

.texto2 {
    margin-bottom: 20px;
    font-weight: 500;
}

.texto3 {
    margin-bottom: 20px;
    font-weight: 500;
}

a {
    color:rgb(29, 155, 149);
    text-underline-offset: 8px;
}

a:hover {
    color:rgb(47, 183, 176); ;
}

.arrow {
    position: relative;
    left: 5px;
}

.card {
    font-size: 13px;
    font-weight: 600;
    margin: 40px auto;
    padding: 35px;
    margin-right: 350px;
    border-radius: 3px;
    box-shadow: 0 0px 15px 2px rgba(0, 0, 0, 0.1);
    line-height: 1.5rem;
}

.card p {
    margin-right: 5%;
}

.card-flex {
    display: inline-flex;
    margin-top: 1.5rem;
    /*flex-wrap: nowrap;*/
    gap: 0 0;
}

.quotes {
    position: absolute;
}

.testimonial {
    position: relative;
    top: 20px;
}

.picture-kyle {
    border-radius: 50%;
    height: 2rem;
    margin-right: 10px;
}


.kyle {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    line-height: 1rem;
}

.kyle2 {
    font-size: 10px;
    margin: 0;
    line-height: 1rem;
}


.section3 {
    display: flex;
    background-color: var(--DesaturatedBlue); 
    color: var(--LightGrayishBlue);
    padding-top: 5rem; 
    padding-bottom: 4rem;
    padding-left: 5.5rem;
    gap: 150px;
}
.section3 > div {
    width: 50%;
}

.divphone{
    display: flex;
    gap: 5px;
    align-items: center;
}
.svgphone{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.divmail{
    display: flex;
    gap: 5px;
    
}
.svgmail {
    width: 20px;
    height: 20px;
}
header {
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    align-items: center;
}
.contenedorlogo {
    width: 70%;
}

.palabrasheader{
  /*   display: flex; */
   /*  column-gap: 40px; */
    width:auto;
}
.ul{
    list-style-type: none;
}
.ul > li{
    display: inline;
    margin: 1.5rem;
}
.section2 {
    padding-top: 100px;
    background-image: url("./images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
   /*  background-color: var(--LightGrayishBlue); */
   gap: 0px;
}
.section2 > div {
    background-color: var(--LightGrayishBlue);
}
@media (max-width: 1195px) {
    .contenedorlogo {
        width: 40%;
        }
    .palabrasheader {
        width: 58%;
        text-align: end;
    }    
    header {
        padding-left: 0;
    }   
}
@media (max-width: 375px) {
    .contenedorlogo {
        width: 30%;
        }
    header {
        padding-left: 0;
        align-items: center;
    }  
    .palabrasheader {
        font-size: 0.7em;
        padding-left: 0px;
        text-align: right;
        padding-top: 10px;
        
    }
    .logoheader1 {
        width: 90px;
    }
    .ul > li{
        margin: 5px;
    }   
}
