

@media (max-width: 375px) {
    .contenedorlogo {
        width: 30%;
        }
    header {
        padding-left: 0;
        align-items: center;
    }  
    .palabrasheader {
        font-size: 0.7em;
        padding-left: 0px;
        text-align: right;
        padding-top: 10px;
        
    }
    .logoheader1 {
        width: 90px;
    }
    .ul > li{
        margin: 5px;
    }  
    .section3 {
        flex-direction: column;
        padding: 2.5rem;
        align-items: center;
        gap: 20px;
    }
    .section3 > div {
        width: 90%;
        text-align: center;
    }
    .section3 h2 {
        font-size: 1.3rem;
    }
    footer {
        padding-left: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "svgfooter"
        "phone"
        "about"
        "contact"
        "logosredes"
        ;
        }
    .phone {
        padding-left: 35px;
    }
    .svgfooter {
        position: relative;
        left: 40px;
    }
    .about {
        position: relative;
        top: -10px;
        padding-left: 35px;
        padding-top: 0px;
    }
    .logosredes {
        position: relative;
        top: -10px;
        justify-content: center;
    }
    }
    }

